@inherits LayoutComponentBase

<div class="sidebar">
    <NavLink href="" class="nav-link">Home</NavLink>
    <NavLink href="contactlist" class="nav-link">Contact List</NavLink>
    <NavLink href="login" class="nav-link">Login</NavLink>
</div>

<div class="main">
    @Body
</div>